################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExpressionEvaluator2
/**/bin
/**/obj
/.vs/ExpressionEvaluator3
/PowerCardExpressionEditor/.vs/PowerCardExpressionEditor/v17
